﻿/*
Copyright © Wills Lifestyle
Desigend & HTML5/CSS3/jQuery By Abhay Mandal (Design Lead UX/UI - Sirez Infosystems)
Powered by Sirez Infosystems
*/
@import url("../font/willsfont.css");
body{font-size:12px; color:#666; font-family:'AllerLightRegular',Arial, Helvetica, sans-serif; padding:0; margin:0;min-width:1000px; min-height:600px; position:relative;position:relative;float:left; width:100%;}
p,h1,h2,h3,form,img,ul{border:0; padding:0; margin:0;}
a{color:#666666; text-decoration:none; outline:none;}
a:hover{text-decoration:underline;}
.img_v{vertical-align:middle;}


header, footer, section, nav, article, address, aside, section{display:block;}


/*#############     Header     #############*/
#h{ background:#b11116; padding:14px 0; margin-bottom:1%; float:left; height:31px; width:100%; clear:both; z-index:2; min-width:1000px;}
#logo{float:left; margin:0 0 0 16px;}
.header {background:#c4161c; height:100%; width:60px; position:fixed; left:0; top:0; z-index:4; }
/*#############     Navigation     #############*/
#navigation{float:right; text-transform:uppercase; width:617px;}
#navigation ul{list-style:none;}
#navigation ul li{display:inline; z-index:7; float:left;}
#navigation>ul>li>a{color:#FFFFFF; display:inline-block; float:left; padding:2px 0px; margin:4px 9px; -moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out; border-bottom:1px solid #b11116;}
#navigation>ul>li>a:hover, #navigation>ul>li.act>a{ text-decoration:none;  border-bottom:1px solid #fff;}

#collection{width:87px; height:20px;}
#collection a.wF{padding:0;}
a.wF:hover, #navigation ul li.act a.wF{color:#b11116;}
#whtFix{width:87px; height:39px; padding:6px 0 0 0; text-align:center; background:#b11116; position:absolute; left:0px; top:0px; z-index:2; -moz-transition:all 200ms ease-out; -webkit-transition:all 200ms ease-out; transition:all 200ms ease-out;}
#navigation ul li.act #whtFix{background:#ffffff;}



/*#############     Sub Navigation     #############*/
#subNav, #cSubMenu{background:#FFF; padding:6px; position:absolute; top:45px; left:-113px; width:291px; z-index:3; display:none;}
#subNav ul{width:291px; float:left;}
#subNav ul li{margin:0 3px 3px 0;}
#subNav ul li a{display:inline-block; margin:0; float:left; -moz-transition:none; -webkit-transition:none; transition:none; border:0; height:60px;}
#subNav ul li a img{width:95px; height:60px;}
#subNav ul li a:hover{ text-decoration:none !important; border:0 none !important;}

#subNav ul li a#signature{background:url(../img/collectionN-iconsN.gif) -95px 0 no-repeat;}
#subNav ul li a#signature:hover{background:url(../img/collectionN-iconsN.gif)  0 0 no-repeat;}

#subNav ul li a#classic{background:url(../img/collectionN-iconsN.gif) -95px -60px no-repeat;}
#subNav ul li a#classic:hover{background:url(../img/collectionN-iconsN.gif) 0 -60px no-repeat;}

#subNav ul li a#sport{background:url(../img/collectionN-iconsN.gif) -95px -120px no-repeat;}
#subNav ul li a#sport:hover{background:url(../img/collectionN-iconsN.gif) 0 -120px no-repeat;}

#subNav ul li a#clublife{background:url(../img/collectionN-iconsN.gif) -95px -180px no-repeat;}
#subNav ul li a#clublife:hover{background:url(../img/collectionN-iconsN.gif) 0 -180px no-repeat;}

#subNav ul li a#accessories{background:url(../img/collectionN-iconsN.gif) -95px -240px no-repeat;}
#subNav ul li a#accessories:hover{background:url(../img/collectionN-iconsN.gif) 0 -240px no-repeat;}

#subNav ul li a#personal{background:url(../img/collectionN-iconsN.gif) -95px -300px no-repeat;}
#subNav ul li a#personal:hover{background:url(../img/collectionN-iconsN.gif) 0 -300px no-repeat;}
.MR_R0 { margin-right:0px!important;}


#dsgnLB{float:right !important; padding:0 !important; margin:0 !important; border:1px solid #FFF !important; overflow:hidden; width:240px; height:175px; display:none;}
#dsgnLB img{display:block;}
a#dsgnLB:hover{box-shadow:0px 0px 5px #666666;}

#cSubMenu{left:0px; width:120px;}
#cSubMenu ul{line-height:none;}
#cSubMenu ul li a{display:block; padding:5px 3px;}

/*#############     Sub Navigation Ends     #############*/

/*#############     Navigation Ends     #############*/

/*#############     SMM Icons     #############*/
#SMM{float:right; margin:2px 1% 2px 10px; width:115px; text-align:right;}
#SMM a{display:inline-block;  width:20px; height:20px; overflow:hidden; outline:none; margin-left:5px;}
#SMM a img{width:20px; height:20px; margin:20px 0 0 0; -moz-transition:all 100ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out; display:none;}
#SMM a:hover img{margin:0px;}

a.facebook:hover{background:url(../img/smm-icon.gif) -21px 0px no-repeat;}
a.twitter:hover{background:url(../img/smm-icon.gif) -21px -20px no-repeat;}
a.pin:hover{background:url(../img/smm-icon.gif) -21px -41px no-repeat;}
a.youtube:hover{background:url(../img/smm-icon.gif) -21px -62px no-repeat;}

.facebook{background:url(../img/smm-icon.gif) 0px 0px no-repeat;}
.facebook img{background:url(../img/smm-icon.gif) -21px 0px no-repeat;}

.twitter{background:url(../img/smm-icon.gif) 0px -20px no-repeat;}
.twitter img{background:url(../img/smm-icon.gif) -20px -21px no-repeat;}

.pin{background:url(../img/smm-icon.gif) 0px -41px no-repeat;}
.pin img{background:url(../img/smm-icon.gif) -21px -41px no-repeat;}

.youtube{background:url(../img/smm-icon.gif) 0px -62px no-repeat;}
.youtube img{background:url(../img/smm-icon.gif) -21px -62px no-repeat;}

/*#############     SMM Icons End     #############*/

/*#############     Header End     #############*/


/*#############     Body     #############*/

/*#############     Splash Screen     #############*/
#sc{width:600px; padding:50px 30px 0 30px; height:242px; position:relative; margin:15% auto; background:#FFF; box-shadow:0 0 20px #ccc; display:none;}
#scLeft{width:49%; padding:0 30px 0 0; float:left; border-right:1px solid #bcbcbc;height:192px;}
#scRight{width:49%px; float:right;}

#scRight a{width:45px; height:64px; display:inline-block; overflow:hidden; margin:0 10px 0 0;}
#scRight a img{width:45px; height:64px; margin:64px 0 0 0; -moz-transition:all 150ms ease-out; -webkit-transition:all 150ms ease-out; transition:all 150ms ease-out;}
#scRight a:hover img{margin:0;}

#scRight a.facebook{background:url(../img/smm-icon-big.gif) 0px 0px no-repeat;}
#scRight a.facebook img{background:url(../img/smm-icon-big.gif) -46px 0px no-repeat;}

#scRight a.twitter{background:url(../img/smm-icon-big.gif) 0px -64px no-repeat;}
#scRight a.twitter img{background:url(../img/smm-icon-big.gif) -46px -64px no-repeat;}

#scRight a.pin{background:url(../img/smm-icon-big.gif) 0px -128px no-repeat;}
#scRight a.pin img{background:url(../img/smm-icon-big.gif) -46px -128px no-repeat;}

#scRight a.youtube{background:url(../img/smm-icon-big.gif) 0px -192px no-repeat;}
#scRight a.youtube img{background:url(../img/smm-icon-big.gif) -46px -192px no-repeat;}
/*#############     Splash Screen End    #############*/

#content{width:100%; float:left; }
#fix1000{min-width:920px;}
.row{width:100%; float:left;}
.col, .colbig{width:24%; float:left; overflow:hidden; position:relative;}
.colbig{width:100% !important; /*margin:0 1% !important;*/}
.coltext{position:absolute; bottom:5%; left:5%; width:95%;}
#storeLoctor{background:url(../img/store-locatore.jpg) top center no-repeat;}
#featuredBanner{position:absolute; bottom:8%; left:8%; width:100%;}
#featuredBanner img{width:77% !important;}
.col>img{width:100%; position:absolute; top:0; left:0; z-index:1;}
.col>span{width:100%; padding:8px 0; z-index:2; bottom:0; left:0; position:absolute; text-align:center; background:#b11116;}

.noWidth{width:10% !important;}
.col3{width:100%; background:#333333; margin:0;}
.beCenter, .beCenterInn{position:absolute; top:0; left:0; text-align:center; width:100%; padding:10% 0 0 0;}
.beCenterInn {padding:30% 0 0 0 !important;}
.beCenter img{width:12% !important;}
.beCenterInn img{width:20% !important;}

#SMMbox{background:url(../img/subsBG.gif) top left repeat; width:100%; float:left; height:100%;}
#border, #border2{border:1px solid #e1e1e1; border-bottom:#b11116 3px solid;}
#border2{float:left; height:98%;}
#subscribe{width:92%; background:url(../img/sub_bg.gif) top right repeat-x #edefe7; padding:4%; height:92%; float:left;}
#subscribeInn{width:84%; height:84%; padding:8%; float:left;}
#inLeft{width:60%; padding:2% 3%; float:left; margin-left:0%; background:url(../img/innbg.jpg) top center no-repeat #ecedee; border:1px solid #dadbdb; height:100%; }
#inRight{width:33%; float:right; margin-right:0; overflow:hidden;}
#inRight .row{padding-bottom:2%;}

.irLeft, .irRight{width:49%; float:left;background:#e4e4e4; overflow:hidden; position:relative;}
.irRight{float:right;}
.irLeft img, .irRight img{width:100%;}

.bcrum a, .bcrum{color:#b1b2b2;}

.iLeft{width:49%; float:left;}
.iRight{width:49%; float:right;}

.listing{list-style:none; margin:0; padding:0;}
.listing li{border-bottom:1px dotted #999; padding:2% 0%;/* background:url(../img/bullet.png) 2% center no-repeat;*/}
/*#############     Body End     #############*/

/*#############     Footer     #############*/
.footer {background:#231f20; height:100%; width:168px; position:fixed; right:-148px; top:0; z-index:5; }
#f{padding:10px 1%; float:left; width:98%; clear:both; min-width:1000px; text-transform:uppercase;color:#999999; /*float:left;*/ position:absolute; bottom:0; left:0; z-index:2; background:#FFFFFF;}
#fNav{float:left; width:50%}
ul#fNav{list-style:none;}
ul#fNav>li{display:inline; float:left; width:120px; margin:0 1% 0 0;}
ul#fNav>li ul{display:none; list-style:none; padding:5px 0 0 0;}
ul#fNav>li ul li{white-space:nowrap; text-transform:none; padding-bottom:3px;}
ul#fNav>li ul li a{color:#666666; font-size:13px;}
ul#fNav>li ul li a:hover{color:#b11116;}

ul#fNav>li>a{padding:2px 0; margin:0 8px; border-bottom:1px solid #FFF;}
ul#fNav>li>a:hover{color:#b11116; text-decoration:none; border-bottom:1px solid #b11116;}

#copy{float:right;}

/*#############     Footer End     #############*/

/*#############     Gifting     #############*/
#gfitH{width:90%; float:left; padding:4% 5%; background:url(../img/gift-highlight.gif) top left repeat-x #fff; box-shadow:5px 5px 10px #999999;}
#gHL{width:10%; float:left; position:relative;}
#gHL .redBtnN{right:0; top:0;}
#gHR{width:84%; float:right;}
/*#############     Gifting End     #############*/

/*#############     Store     #############*/
#storeLeft{float:left; width:35%; margin-left:-1%;}
#storeRight{float:right; width:63%;}
.Trow{background:url(../img/redtot.gif) bottom left repeat-x; display:block; float:left; width:100%;}
.Trow li{display:inline; border:1px solid #d8d8d9; border-bottom:none 0; cursor:pointer; padding:2%; background:#f4f4f5 url(../img/tabs.gif) top left repeat-x; color:#999999; margin-bottom:1px; float:left; margin-right:1%; line-height:1em;}
.Trow li:hover{color:#000000;}
.acTab{cursor:text !important; border:1px solid #b11116 !important; border-top:3px solid #b11116 !important; border-bottom:#f4f4f5 1px solid !important; color:#000000 !important; margin-bottom:0 !important;}
.tabs{padding:3% 0 0 0;}
.TabContent, .TabC, .itC{float:left; width:100%;}
.itC, .TabC, .aboutPage{overflow:auto;}
.erR{border-bottom:1px dotted #CCC; padding:2% 0;}
/*#############     Store End     #############*/

/*#############     Club ITC     #############*/
.tabITC li a{color:#999999;}
.tabITC li a:hover{text-decoration:none; color:#000;}
.tbdr, .tbdr td{border-bottom:1px solid #868686}
/*#############     Club ITC End     #############*/

/*#############     Lounge     #############*/
#tv{width:33%; float:left;}
#screen{width:33%; float:left;}
#lounge_txt{width:33%; float:right;}
.lounge_Wall{width:25%; float:left; position:relative; cursor:pointer;}
.lounge_Wall:hover>span{display:block;}
.lounge_Wall>span{display:none; position:absolute; bottom:12%; left:0; width:89%; text-align:center; background:#FFF;} 
.lounge_Wall img, #tv img, #screen img{margin-left:-4%;}
/*#############     Lounge End     #############*/

/*#############     Press     #############*/
.hide .sliderNav{display:none;}
.pressUL{list-style:none;}
.pressUL li{background:url(../img/arrow.gif) 0% 28% no-repeat; color:#848484; padding:2% 0 2% 5%; margin:0 2% 0 0; border-bottom:1px dotted #CCCCCC; width:43%; display:block; float:left;}
.pressUL li a{color:#000000;}
/*#############     Press End     #############*/

/*#############     Runway     #############*/
.rLR{width:50%; float:left; overflow:hidden; position:relative; z-index:1;}
.tlShadow{background:url(../img/shadow-topright.png) top right no-repeat;}
.tlShadow img{/*padding:10% 0 0 0;*/ vertical-align:middle;}
.tRShadow{background:url(../img/shadow-bottomleft.png) bottom left no-repeat; overflow:visible;}
.playbtn{position:absolute; top:0; left:0; text-align:center; width:100%; height:100%;}
.playbtn img{margin:18% auto;}
.RunTxt{padding:10% 7%}

.rNav{float:left; clear:both; width:50%; margin-top:5%;}
.rNav ul{list-style:none;float:left;width:100%;}
.rNav li{position:relative; float:left; width:100%; list-style:none;}
.rNav a{background:#231f20 url(../img/arrow-down.gif) 95% center no-repeat; color:#FFF; display:block; white-space:nowrap; padding:0 20% 0 10%; width:70%; -moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out; height:36px; line-height:36px; float:left;}
.rNav li ul{position:absolute; bottom:100%; left:0%; z-index:2; -moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out; background:#231f20; float:left; display:none; width:98%; background:#000000;}
.rNav li:hover ul{display:block;}
.rNav li a:hover, .rNav li:hover a, .rNav li li a:hover{background:url(../img/arrow2.gif) 95% center no-repeat #b11116; text-decoration:none;}
.rNav li li{width:84%;}
.rNav li li a:hover{background:#b11116 !important;}
.rNav li li a{background-image:none; padding:0 10% !important; width:101%}
.rNav li:hover li a{background:#231f20;}

.wlsL{width:22%; float:left; padding-top:10%;}
.wlsR{width:72%; float:right;}
.bs{background:#231f20; text-align:center;}
/*#############     Runway end     #############*/

/*#############     Fonts     #############*/
.famTreb{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.wNorm{font-weight:normal;}
.black16{color:#000; font-size:16px;}
.black18{color:#000; font-size:18px;}
.black25{color:#000; font-size:25px;}
.black35{color:#000; font-size:35px;}
.blue{color:#3194ba;}
.wht16{color:#fff; font-size:16px;}
.wht35{color:#fff; font-size:35px;}
.wht25{color:#fff; font-size:25px;}
.dgry16{color:#282828; font-size:16px;}
.dgry18{color:#282828; font-size:18px;}
.gry16{color:#585858; font-size:16px;}
.redLink{color:#b11116;}
.dgry{ color:#333333;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.wht{color:#FFFFFF;}
.LGrey{color:#b9b9b9;}

a:hover .black16{text-decoration:underline;}
/*#############     for screen resolution greater then 1800     #############*/
.s1800 .black16, .s1800 .gry16, .s1800 .dgry16, .s1800 .wht16{font-size:18px;}
.s1800 .black18, .s1800 .dgry18{font-size:20px;}
.s1800 .black25, .s1800 .wht25{font-size:30px;}
.s1800 .black35, .s1800 .wht35{font-size:40px;}
.s1800 .inp, .s1800 .redBtn{font-size:18px; padding:8px 10px;}
.s1800 .size12{font-size:14px;}
.s1800 .size14{font-size:16px;}

/*#############     for screen resolution 1400     #############*/
.s1400 .wht16, .s1400 .gry16, .s1400 .black16, .s1400 .dgry16{font-size:14px;}
.s1400 .dgry18, .s1400 .black18, .s1400 .black18{font-size:16px;}
.s1400 .wht25, .s1400 .black25{font-size:22px;}
.s1400 .wht35, .s1400 .black35{font-size:30px;}
.s1400 .inp, .s1400 .redBtn{font-size:14px; padding:3px 8px;}
.s1400 .size12{font-size:10px;}
.s1400 .size14{font-size:12px;}

/*#############     for screen resolution 1200     #############*/
.s1200 .dgry16, .s1200 .gry16, .s1200 .wht16, .s1200 .black16{font-size:12px;}
.s1200 .dgry18, .s1200 .black18, .s1200 .black18{font-size:14px;}
.s1200 .wht25, .s1200 .black25{font-size:20px;}
.s1200 .black35, .s1200 .wht35{font-size:25px;}
.s1200 .inp, .s1200 .redBtn{font-size:12px; padding:2px 8px;}
.s1200 .size12{font-size:9px;}
.s1200 .size14{font-size:11px;}
/*#############     Fonts End     #############*/

/*#############     Extra     #############*/
.relat{position:relative;}
.gryBottomBorder{border-bottom:1px solid #d2d2d2;}
.gryLeftBorder{border-left:1px solid #d2d2d2;}

.arrowBtn, .closeSQ, .redBtn{background:#b11116; height:30px; width:30px; line-height:25px; text-align:center; border-radius:5px; font-size:28px; font-weight:bold; color:#FFF; display:inline-block; position:absolute; bottom:10px; right:10px; -moz-transition:all 100ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out;}
.closeSQ{top:0; right:0; border-radius:0; cursor:pointer;}
.redBtn{position:static !important; border:0; outline:0; vertical-align:middle; bottom:0;  height:auto !important; width:auto !important; padding:5px 8px; font-size:16px; z-index:8; margin:-5px 0 0 0; font-weight:normal;}
.arrowBtn:hover, a:hover .arrowBtn,.redBtn:hover{background:#FFFFFF; color:#000000; text-decoration:none; cursor:pointer;}

.redBtnInp, .redBtnN{width:30px; height:30px; background-repeat:no-repeat; background-position:0 0; overflow:hidden; position:absolute; bottom:10px; right:10px; z-index:1; display:inline-block;}
.redBtnInp{position:relative; bottom:0; right:0;}
.redBtnN img, .redBtnInp img{width:auto !important; position:absolute; top:0; left:0; -moz-transition:all 100ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out;}
a:hover .redBtnN img, a:hover .redBtnInp img{left:-30px !important;}

.blkLink{background:#231f20; color:#a4a1a2; display:inline-block; padding:1% 3%; -moz-transition:all 100ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out;}
a.blkLink:hover{background:#b11116; text-decoration:none; color:#FFFFFF;}

.fleft{float:left;}
.fright{float:right;}
#navDarkbg, #test{background:url(../img/black.png); position:fixed; left:0; top:0; margin-top:59px; width:100%; height:100%; z-index:1; display:none;}

.inp{background:url(../img/inp.gif) bottom left repeat-x #FFF; border:1px solid #bebebe;font-family:'ComfortaaLight',Arial, Helvetica, sans-serif; font-size:16px; padding:3px; width:93%; color:#636363;}

.ptb10{padding:10px 0;}
.pb10{padding:0 0 10px 0;}
.pb20{padding:0 0 20px 0;}
.pl5prc{padding:0 0 0 5%;}
.ptprc{padding:1% 0 0 0;}
.pt2prc{padding:2% 0 0 0;}
.pbprc{padding:0 0 1% 0;}
.pb2prc{padding:0 0 2% 0;}
.pb5prc{padding:0 0 5% 0;}
.pad0{padding-bottom:0 !important;}


.mrb0 { margin-bottom:0px!important;}

.lineH{line-height:2em;}
.lineHm{line-height:1em;}

.wA{width:auto !important;}
.oH{overflow:hidden;}

#load {position: fixed;right: 0;top: 0;background:url(../img/ajax-loader.gif) #FFF center 40% no-repeat;width: 100%;height:100%;	z-index:6;/*text-indent: -9999em;*/ padding:0; text-align:center}

.bdrbtm{border-bottom:1px dotted #CCCCCC !important; padding-bottom:1%; margin-bottom:1%;}
/*#############     Extra End     #############*/

/*#############     Errors     #############*/
.bdrRed{border:1px solid #b11116 !important;}
.erRed{color:#b11116; text-align:left; text-transform:none;}
.erGray{color:#b9b9b9; text-align:left; text-transform:none;}
/*#############     Errors End     #############*/

/*#############     New Runway     #############*/

.rNavN{float:right; clear:both; width:25%; margin-bottom:1%;}
.rNavN ul{list-style:none;float:left;width:100%;}
.rNavN li{position:relative; float:left; width:100%; list-style:none;}
.rNavN a,.rNavN span{background:#333333 url(../img/arrow-down.gif) 95% center no-repeat; color:#FFF; display:block; white-space:nowrap; padding:0 20% 0 10%; width:70%; -moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out; height:36px; line-height:36px; float:left;}
.rNavN li ul{position:absolute; top:100%; left:0%; z-index:2; -moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out; background:#231f20; float:left; display:none; width:98%; background:#000000;}
.rNavN li:hover ul{display:block;}
.rNavN li a:hover, .rNav li:hover a, .rNav li li a:hover{background:url(../img/arrow-down.gif) 95% center no-repeat #b11116; text-decoration:none;}
.rNavN li li{width:84%;}
.rNavN li li a:hover{background:#b11116 !important;}
.rNavN li li a{background-image:none; padding:0 10% !important; width:101%}
.rNavN li:hover li a{background:#333333;}

.rLRN {width:22%;float:left; overflow:hidden; position:relative;}
.rLRsec {width:76%;float:right; overflow:hidden; position:relative; z-index:1;}
.w_50L{float:left; width:50%;}
.w_50R{float:left; width:48%;}
.Blok { display:block;}
.Txt_lft { text-align:left!important; white-space:nowrap;}
.Run_gal, .Run_gal2 { list-style:none; margin-top:1%; overflow:hidden; height:166px; position:absolute;}
.Run_gal li, .Run_gal2 li {margin-right:0px; float:left; width:139px; height:157px; background:url(../img/shadow_runway.png) 0 0 no-repeat; padding:9px 17px 0 9px;}
.Run_gal li a img,.Run_gal2 li a img{ height:120px;}
.infoGallery{position:absolute; bottom:0px; right:0; background:#FFFFFF;}

.rVideo2{width:93%; overflow:hidden; float:left; clear:both; height:50%;}

/*#############     New Runway  End   #############*/
/*#############     Sitemap     #############*/
ul#sitemap{list-style:none; margin:5% 0 0 0;}
ul#sitemap>li{display:inline; float:left; width:24%; margin:0 1% 0 0; font-weight:bold;}
ul#sitemap>li ul{list-style:none; padding:5px 0 0 0;}
ul#sitemap>li ul li{white-space:nowrap; text-transform:none; padding-bottom:3px; font-weight:normal;}
ul#sitemap>li ul li a{color:#666666; font-size:13px;}
ul#sitemap>li ul li a:hover{color:#b11116;}
/*#############     Sitemap end     #############*/

.menu{list-style:none; clear:both; overflow:hidden;}
.menu>li{display:block;  margin-bottom:1%; }
.menu>li>a{display:block; padding:1% 2%; background:#333333;box-shadow:0 0 3px #CCCCCC; color:#fff;}
.menu>li>a>span{background:url(../img/accordien.png) bottom right no-repeat;display:block;}
.menu>li>a.active>span{background:url(../img/accordien.png) top right no-repeat;}
.menu>li>div{padding:1% 2%;}
.pannel, .faqPan{overflow-x:hidden; overflow-y:scroll; width:94%;}

.clk{top:95px; left:40%; position:absolute; z-index:2;}
.s1200 .clk{top:64px !important;}

/*---------------- Changes 5Apr13 Start ----------------*/
.Txt_cnt { text-align:center;}
.wdth1 { width:100%!important;}
.ImgCnr {position:absolute; bottom:50px; width:100%!important; text-align:center;}
.ImgCnr a img { height:370px;}
#itcLogo { float:right; clear:right; margin-top:86px;}
.txtRght { text-align:right;}
.mrN { margin:1% 0 0 1%}
.iconHg { height:25px!important;}
.dd { position:absolute; width:100%; height:46px; background:#000; left:0; bottom:-46px;}
.pg_photos li { overflow:hidden;}
.smmLnks { position:absolute; height:30px; width:129px; right:10px; bottom:10px; overflow:hidden;}
.smmLnksM { position:absolute; height:30px; width:30px; right:0; top:0; z-index:2;}
.smmLnksN { width:30px; height:30px; right:-1px; bottom:0;position:absolute; z-index:3; background:url(../img/share_icon.png) 0 0 no-repeat;}
.LnkArea { width:65px; height:20px;position:absolute; left:128px; z-index:1; background:url(../img/ShrBG.png) 0 0 no-repeat; padding:6px 6px 4px 6px;}
.fbicn { background:url(../img/smmImages.png) 0 0 no-repeat; height:18px; width:18px; display:block; float:left; margin-left:2px;}
.fbicn:hover { background:url(../img/smmImages.png) 0 -18px no-repeat;}
.twtr { background:url(../img/smmImages.png) -18px 0 no-repeat; height:18px; width:18px; display:block; float:left;margin-left:2px;}
.twtr:hover { background:url(../img/smmImages.png) -18px -18px no-repeat;}
.pnrst { background:url(../img/smmImages.png) -36px 0 no-repeat; height:18px; width:18px; display:block; float:left;margin-left:2px;}
.pnrst:hover { background:url(../img/smmImages.png) -36px -18px no-repeat;}
.MR_R7 { margin-right:7px;}
.btm15  {bottom:15px;}
.cntrDv {margin:0 auto; width:245px; position:relative;}
.WdthNew {width:100%; text-align:center; left:0%!important}
.WdthN1 { width:691px!important;}
.signImages { position:relative; float:left;}

/*---------------- Changes 5Apr13 End ----------------*/

/*---------------- Changes 5Aug13 Start ----------------*/
.Valgn { vertical-align:-2px; margin-left:2px;}
/*---------------- Changes 5Aug13 End ----------------*/


/*---------------- Changes 6Aug13 Start ----------------*/
.lbstrip {position:absolute; width:100%; height:40px; bottom:0; background:#000; text-align:center; color:#fff; line-height:40px;}
/*---------------- Changes 6Aug13 End ----------------*/








/*---------------- new store start ----------------*/


#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#map_canvas { width:50%; float:left;background:url(../img/india2.jpg) center center no-repeat; position:relative;}
#staticMap{width:420px; height:420px; margin:-213px 0 0 -204px; position:absolute; top:49%; left:49%; list-style:none;}
#staticMap>li{position:absolute;}
#staticMap>li>a{width:13px; height:21px; overflow:hidden; display:block; background:url(../img/mapIcon.png) right top no-repeat; z-index:1; position:relative;}
#staticMap>li>a.act{background:url(../img/mapIcon.png) left top no-repeat;}
#staticMap>li>span{display:block !important;}
#staticMap>li>span{ color:#000; border-radius:2px; position:absolute; z-index:2; top:-60%; white-space:nowrap; display:none;}
#panel{position: absolute;top: 5px;left: 50%; margin-left: -180px; z-index: 5; background-color: #fff; padding: 5px; border: 1px solid #999;}
#country {text-align: left; font-size:13px; line-height:20px; width:50%; padding:5px;}

#store_rght{width:50%; background:#191919; float:left; overflow:hidden;}
.store_rght_inner {padding:22px;}
.store_rght_inner ul{list-style:none; overflow:auto; margin-top:15px;}
.store_rght_inner ul li{ padding:10px 0; border-top:solid 1px #272727; color:#fff; }
.store_bottom_fad{ margin:0; padding:0; height:226px; position:relative; z-index:5; }
#fade{height: 286px;/*a width should be defined for transition to work*/border: 0 solid orange;padding: 5px;}   
#fade img{width:100% !important; height:100% !important; }

/*---------------- new store close ----------------*/

/*---------------- 13-Sep-13 Css Start ----------------*/

.rowN {width:94.358%; float:left;}
.mr1 {margin-left:4.285%;}
.gallerySec { float:left; height:34px;}
.rightBnr {float:left;height:34px;}
.colNew { float:left; width:100%;}
.colsubs { float:left; background:url(../img/subsBG.gif) repeat 0 0; width:100%; margin-top:4px;}
.fetrdBnr { float:left;  width:50%;}
.banner1 { float:left;}
.fetrcol,.lookbkBnr,.shopOnBnr,.storeBnr{ float:left; width:100%;overflow:hidden; position:relative;}
.logoAr { float:left; padding:15px 10px 15px 10px; border-bottom:solid 1px #b80f14;}
.ITCLogo { position:absolute; bottom:0; left:0; height:60px;}
.maimNAv { float: left; position:absolute; top:11%;}
.maimNAv ul,.shareIcon ul { list-style:none; margin:0px; padding:0px;}
.maimNAv ul li,.shareIcon ul li {height:28px; border-top:solid 1px #b80f14; padding:4px 16px;}
.shareIcon ul li {padding:8px 16px; height:auto;}
.maimNAv ul li:first-child,.shareIcon ul li:first-child {border-top:none;}
.maimNAv ul li a,.shareIcon ul li a { background:url(../img/nav_dot.gif) 0 0 no-repeat; height:28px; display:block; width:28px; position:relative;}

.maimNAv ul li a span { background:url(../img/mainNavSubMenuBG.png) 0 0 no-repeat; height:27px; padding:0 8px 0 13px; position:absolute; left:46px; top:1px; color:#fff; line-height:27px; font-size:14px; white-space:nowrap;}
.maimNAv ul li a .onloadAct { background:url(../img/mainNavSubMenuBG.png) 0 -27px no-repeat; height:27px; padding:0 8px 0 13px; position:absolute; left:46px; top:1px; line-height:27px; font-size:14px; white-space:nowrap; color:#C4161C }
.maimNAv ul li a:hover {background:url(../img/nav_dot.gif) 0 -28px no-repeat; }

.maimNAv ul li a i { height:27px; padding:0 8px 0 13px; position:absolute; left:19px; top:1px; color:#fff; line-height:27px; font-size:14px; white-space:nowrap; font-style:normal; display:block;}
#hdranmt1 { left:0px;}
#hdranmt { width:173px; left:-173px;}
.shareIcon { float: left; position:absolute; bottom:14%; width:60px; left:0;}
.shareIcon ul li a {position:relative; display:inline-block; *display:inline;  -webkit-transition:all 200ms linear; -moz-transition:all 200ms linear; -o-transition:all 200ms linear; -ms-transition:all 300ms linear; transition:all 200ms linear;height:18px; width:28px; }	
.shareIcon ul li a i { position:absolute; left:34px; color:#fff; font-style:normal; font-size:14px;}
.shareIcon ul li a.fb { background:url(../img/sharing_icon.png) 0 0 no-repeat;display:block;}
.shareIcon ul li a.fb:hover{ background:url(../img/sharing_icon.png) 0 -18px no-repeat;}
.shareIcon ul li a.twit { background:url(../img/sharing_icon.png) 0 -36px no-repeat;display:block; }
.shareIcon ul li a.twit:hover{ background:url(../img/sharing_icon.png) 0 -54px no-repeat;}
.shareIcon ul li a.pinrst { background:url(../img/sharing_icon.png) 0 -72px no-repeat; display:block; }
.shareIcon ul li a.pinrst:hover{ background:url(../img/sharing_icon.png) 0 -90px no-repeat;}
.shareIcon ul li a.UTube { background:url(../img/sharing_icon.png) 0 -108px no-repeat; display:block;}
.shareIcon ul li a.UTube:hover{ background:url(../img/sharing_icon.png) 0 -126px no-repeat;}



.redStrip { float: left;position: absolute;background: url(../img/red_strip.png) no-repeat right 0px;height: 36px;left: 0;bottom: 0; color:#fff; font-size:16px; padding:0 10px; line-height:36px; white-space:nowrap;}
.redStrip div {  float:left;}
.pdLT1 { padding:6px 0 0 4px;} 
.PD2 { padding:10px 22px; }
.pdt10 { padding-top:10px; }
.pageWidth{margin:0 20px 0 60px;}
.irRight img{width:100%;}
.copyright{position:fixed; right:3px; bottom:5px;}
ul.ftr{position:fixed; right:8px; top:5px; width:4px; }
ul.ftr>li{width:100%; float:left; list-style:none; height:3px; margin:0 0 2px 0; }
ul.ftr>li>a{background:url(../img/footer_dot.gif) 0 0 no-repeat; width:4px; height:3px; text-indent:-999px; overflow:hidden; display:inline-block;}

ul.footLink{margin:20px;}
ul.footLink li{list-style:none; line-height:15px; display:block; padding-bottom:5px; color:#776f71; font-size:11px;}
ul.footLink li a{color:#776f71;}

.subscribe .col{width:42%; float:left;}
.subscribe .col2{width:16%; float:left; position:relative;}
.subscribe .col .inp{background:url(../img/subscribe_inp.gif) left 0 repeat-x #ebebeb; border:1px solid #292929;font-family:'ComfortaaLight',Arial, Helvetica, sans-serif; font-size:14px; padding:5px 3px; width:92%; color:#636363;}



.cLeft{width:243px; height:90%; background:#1b1919; position:fixed; left:60px; top:0; padding:5% 20px;}
.cLeft .heading{background:#ffffff; display:inline-block; padding:4% 0; width:200px; color:#726c6e; font-size:16px;}
.cLeft p{color:#dcd3d3; line-height:24px; padding:5% 0 0 0; font-size:13px;}
.size16{font-size:16px;}
.cLeft .dMain{position:fixed; bottom:50px; left:80px; width:243px;}
.cLeft .cdownload{background:url(../img/download-sep.html) 0 center repeat-x;}
.cLeft .cdownload span{background:#1b1919; display:inline-block; padding:0 10px; color:#dcd3d3;}
.cLeft  .button>li {list-style:none; width:121px; display:inline;}
.cLeft .button>li>a{padding:10px 28px; background:#4b4a4a; color:#dcd3d3; display:inline-block;}
.cLeft .button>li>ul {float:left; list-style:none; display:none}
.cLeft .button>li>ul{ position:absolute; left:5px; top:-118px;}
.cLeft .button>li>ul>li>a{padding:10px 28px; background:#4b4a4a; color:#dcd3d3; display:inline-block; border-bottom:#333 solid 1px; }
.mtop10{margin-top:10px;}
.mtop30{margin-top:20px; display:block;}
.cRight{margin-left:283px; position:relative;}
.bdrNone { border:none;}
#rghtThumb { position:absolute;}
#rghtThumb ul { position:absolute; list-style:none;}
#rghtThumb ul li { position:absolute; display:none;}
/*---------------- 13-Sep-13 Css End ----------------*/

/*---------------- 29-Sep-13 Css Start ----------------*/
.shopnwBtn { position:absolute; width:117px;  right:20px; top:602px; border: 1px solid #FFFFFF;background:url(../img/download-grad.gif) 0 0 repeat-x; z-index:3;}
.shopnwBtn a { display:block; position:relative; font-size:16px;  text-align:left; padding:5px 7px 5px 12px; color:#262626;}
.shopnwBtn a:hover { text-decoration:none; background:#1B1919; color:#FFFFFF;}
.shopnwBtn a span {  height:22px; width:24px; display:block; position:absolute; transition: all 200ms linear 0s; font-size:16px;background:url(../img/shoponline_btn.png) 0 0 no-repeat;right:9px; top:6px;}
.shopnwBtn a:hover span { text-decoration:none;  background:url(../img/shoponline_btn.png) 0 -22px no-repeat;}
.hg1 { height:100%; }
.aw{position:fixed; left:107px; bottom:138px; width:190px!important; padding:0!important; height:39px; line-height:39px; background:none!important; color:#fff!important;}
/*---------------- 29-Sep-13 Css End ----------------*/