@charset "utf-8";
/* CSS Document */
.videocontainer iframe{ height: 460px;}	
.showondesktop{ display: block}
.showonmobile,.showonipad { display: none}

@media only screen and (max-width: 991px) {
	.hideonmobile {display: none}
	.showondesktop,.showonmobile{ display: none}
	.showonipad {display: block}
	.mobilebg{ background-color: #1b1919}
}

@media only screen and (max-width: 767px){
    .showonmobile {display: block}
    .showondesktop,.showonipad{display:none;}
	body{ height: auto!important; }
	h1.black35{ font-size: 24px;}
	.sidebar-nav li{ line-height: 30px;}
    .skdslider {background: #c8242a}
    
/*.skdslider ul.slides li img{ height: auto!important}*/
	.left-nav .socialdiv {bottom: 70px;}
	.cLeft {
	    position: relative;
	    width: 100%;
	    height: auto;
	    left: 0;
	    padding: 15px 15px 15px 75px
    }
    #Clogo {
	    position: relative;
	    bottom: 0
	
    }
    .cRight {
	    padding: 0 0 0 60px;
	    background: #1b1919
    }
    #cslider > li > img, .thumbnails > ul > li > div > img {
	    vertical-align: top
    }
    .thumbnails {
	    display: none
    }
    #cslider > li {
	    position:relative
    }
    .cContent {
	    position: relative;
	    bottom: 0
    }

    p.txt-collection {
	    padding: 10px 0 0 0
    }
    .shopnwBtn {
	    top: auto;
	    bottom: 0;
	    right: auto;
	    position: fixed;
	
    }
    .cContent {
	    position: relative!important;
	    bottom: 0px!important
    }
    .collection-logo{ max-width: 100px}
    p.txt-collection{ line-height: 1.4}
    .nextBtn, .prevBtn{ position: fixed; top: auto; bottom: 0;}
    .abmain{ height: auto!important; padding-bottom: 37px;}
    #wrapper{ overflow-y: auto; height: auto!important; background: none!important}
    .about-left{ background: none}
    .mCustomScrollbar{ padding-right: 0!important}
    .aboutrow img{ max-width: 100px!important}
    #rghtThumb{ position: relative!important; left: 0!important}
    .thumblisting{ margin:0; padding: 0; position: relative!important}
    .thumblisting li { position: relative!important}
    .thumblisting li img{ max-width: 100px;}
    .about-right{ clear: both!important}
    .privacy .privacypolicy li{ line-height: 1.4; font-size: 14px;}
    .captcha img{ max-width: 200px;}
    .bg-white, .bg-white .about-left{ background: #fff!important}
    .cContent{ width: 100%!important}
    .abmain .thumbnails{ display: none}
    /*.videocontainer .sp-mask{ height: 336px!important}
    .videocontainer iframe{ height: 350px;}*/

    .sidebar-nav li a{ padding: 5px 0!important;}
    .sidebar-nav li{ margin-bottom: 15px; line-height: 1.4}
    .sp-arrow{ display: none!important}
}


@media only screen and (min-width: 1281px) and (max-width: 1400px) {
	.sp-mask{ height: 520px!important}
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.videocontainer .sp-mask{ height: 500px!important}
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.skdslider{ background: #333}
	.abmain .thumbnails{ display: none}
}

@media only screen and (max-width: 1024px) {
	.videocontainer iframe{ height: 450px;}	
}

@media only screen and (max-width: 640px) {
	.videocontainer iframe{ height: 230px;}	

}

@media only screen and (max-width: 480px) {
	.sp-mask{ height: 270px!important}

}

