/* CSS Document */
body{ margin:0; padding:0;}
.skdslider{
 height: 100%;
 position: relative;
}
.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}

.skdslider ul.slides li
{
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   display: none;
   width:100%;
   overflow: hidden
}
.skdslider ul.slides li img{
    width: 100%;
	height: 100%;
	border:0;
	object-fit: cover;
}

.skdslider .slide-navs {
    bottom: 30px;
    right: 3%;
    position: absolute;
	list-style-type: none;
	margin: 0;
    padding: 0;
}


.skdslider .slide-navs li {
  	background: url(../img/slider_listing.jpg) no-repeat 0 -18px ;
	height:17px;
	width:7px;
	margin-bottom:4px;
	cursor:pointer; position:relative;
}
.skdslider .slide-navs li.current-slide {
  background:  url(../img/slider_listing.jpg) no-repeat scroll 0 0;
}
.skdslider .slide-desc {
    background: url("image/slide_desc.html") repeat scroll 0 0 transparent;
    left: 0;
    padding: 6px 25px 10px 85px;
    position: absolute;
    top: 327px;
    width: 50%;
}
.skdslider .slide-desc > h2 {
    color: #CFDB0C;
    font-family: 'Oswald';
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.skdslider .slide-desc > p {
    color: #FFFFFF;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
.skdslider .slide-desc > p a.more {
    color:#990000;
	font-size:20px;
    float: right;
    height: 18px;
    width: 22px;
	text-decoration:none;
}
.skdslider .slide-desc > p a.more:hover {
text-decoration:underline;
}

.skdslider a.prev{
    background: url(../img/slider_controls.png) no-repeat scroll 0 0 transparent;
	width:67px;
	height:67px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:80px;
	
}

.skdslider a.next{
    background: url(../img/slider_controls.png) no-repeat scroll 0 -67px transparent;
	width:67px;
	height:67px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:44%;
	right:2%;
	
}
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}

.skdslider a.play{
    background: url(../img/slider_controls.png) no-repeat  0 -199px;
	width:67px;
	height:67px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:48%;
	
}
.skdslider a.pause{
    background: url(../img/slider_controls.png) no-repeat  0 -132px;
	width:67px;
	height:67px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:48%;
	
}
.slide-navs li a { left: -117px;position: absolute;top: -29px; display:none;}
@media only screen and (max-width: 767px){
	.skdslider{ background: #231f20; position: inherit}
	/*.skdslider a.next, .skdslider a.prev{ display: none}*/
	.skdslider a.next{ background-size: 100%; background-position: 0 -41px; width: 40px; height: 40px;}
	.skdslider a.prev{ background-size: 100%; background-position: 0 0; width: 40px; height: 40px;}
	/*.skdslider ul.slides li img{ transform: scaleX(1.4); -webkit-transform: scaleX(1.4); -moz-transform: scaleX(1.4)}*/
	.skdslider .slide-navs{ display: none}
	/*.homesliderimg1_mobile1{ transform: scaleX(4.0)!important; padding-left: 28%;}
	.homesliderimg1_mobile2{ transform: scaleX(3.5)!important; padding-left: 30px;}*/
	
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
			
	/*.skdslider ul.slides li img{ transform: scaleX(1); -webkit-transform: scaleX(1); -moz-transform: scaleX(1)}
	.homesliderimg1_mobile1{ transform: scaleX(3.0)!important; -webkit-transform: scaleX(3.0)!important; -moz-transform: scaleX(3.0)!important; padding-left: 30%;}*/
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
	.skdslider ul.slides li img{ transform: none;-moz-transform: none;-webkit-transform: none; height: auto}
	.skdslider ul.slides li{ overflow: auto}
	.left-nav .socialdiv ul li{margin-bottom: 5px;}
}