#WillsC{position:absolute; top:44px; left:20px; z-index:5; width:188px;}
#Clogo{width:100%; z-index:2; position:absolute;text-align:center; left: 0; bottom: 15px }
#downloadSW{width:117px; border:1px solid #fff; z-index:4; position:absolute;float:left; background:url(../img/download-grad.gif) top left repeat-x #e7e7e7; margin:2% 0 0 1%; cursor:pointer; top:520px; right:20px;}
#downloadSW span{display:block; background:url(../img/download-arrow.gif) 95% 5px no-repeat;font-size:16px; color:#262626; padding:5px 7px 5px 12px;-moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out;}
#downloadSW:hover>span{background:url(../img/download-arrow.gif) 95% -26px no-repeat;}
#downloadSW:hover>ul{display:block;}
#downloadSW>ul{display:none; list-style:none;-moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out;}
#downloadSW>ul{background:#b11116;}
#downloadSW>ul>li{position:relative;}
#downloadSW>ul>li>a{font-size:14px; color:#FFFFFF; padding:5px 7px 5px 12px; display:block; border-top:1px solid #c24347; text-decoration:none;-moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out;}
#downloadSW>ul>li:hover>a{background:#7c0f12;}
#downloadSW>ul>li:hover>ul{display:block;}
#downloadSW>ul>li>ul{list-style:none; position:absolute; top:29px; right:0px; background:#7c0f12; display:none; width:286px;}
#downloadSW>ul>li>ul>li{ display:inline; }
#downloadSW>ul>li>ul>li>a{font-size:12px; color:#FFFFFF; padding:7px;text-decoration:none; display:block; border-left:1px solid #b11116; -moz-transition:all 200ms ease-out; -webkit-transition:all 100ms ease-out; transition:all 100ms ease-out; float:left;   }
#downloadSW>ul>li>ul>li>a:hover{background:#b11116;}

#alogo{list-style:none; padding:0; }

#AWlogo{position:relative; z-index:2; cursor:pointer; background:#FFF;}
#alogo li{display:inline-block; padding:0; margin:0 12px 12px 0;}
#alogo li.actLogo{display:none;}
#alogo a, #actLogo span{width:89px; height:55px; display:inline-block;cursor:pointer; text-decoration:none;}
#actLogo span{cursor:default;}

.signature{background:url(../img/collectionP-iconN.gif) -96px 0px no-repeat;}
.signature:hover,  #actLogo span.signature{background:url(../img/collectionP-iconN.gif) 0px 0px no-repeat;}

.classic{background:url(../img/collectionP-iconN.gif) -96px -60px no-repeat;}
.classic:hover,  #actLogo span.classic{background:url(../img/collectionP-iconN.gif) 0px -60px no-repeat;}

.sport{background:url(../img/collectionP-iconN.gif) -96px -122px no-repeat;}
.sport:hover,  #actLogo span.sport{background:url(../img/collectionP-iconN.gif) 0px -122px no-repeat;}

.clublife{background:url(../img/collectionP-iconN.gif) -96px -185px no-repeat;}
.clublife:hover,  #actLogo span.clublife{background:url(../img/collectionP-iconN.gif) 0px -185px no-repeat;}

.accessories{background:url(../img/collectionP-iconN.gif) -96px -261px no-repeat;}
.accessories:hover,  #actLogo span.accessories{background:url(../img/collectionP-iconN.gif) 0px -261px no-repeat;}

.personalcare{background:url(../img/collectionP-iconN.gif) -96px -308px no-repeat;}
.personalcare:hover,  #actLogo span.personalcare{background:url(../img/collectionP-iconN.gif) 0px -308px no-repeat;}

#actLogo{width:94px;position:relative; float:left;}
#actLogo ul{list-style:none;}
#actLogo li{position:absolute; top:0; left:0; background:#ffffff; display:none;}
#actLogo li.actLogo{display:block;}

#allcollection{width:100%; height:600px; position:relative; z-index:4; float:left; margin:-1% 0 0 0;}
#allcollection span{position:absolute; top:0; left:0; width:100%; height:600px;}



.abmain{width:100%; height:908px; margin:0 auto; overflow:hidden; color:#FFFFFF; position:relative; }
.nextBtn, .prevBtn{position:absolute; height:36px; width:68px; z-index:3; opacity:1; top:494px; cursor:pointer;}
.nextBtn img, .prevBtn img { display:none;}
.nextBtn{right:20px;  background:url(../img/next-button.gif) 0 0 no-repeat;}
.prevBtn{right:89px; background:url(../img/prev-button.gif) 0 0 no-repeat;}

#cslider{ width:100%; height:100%; list-style:none; position:relative; padding: 0; margin: 0}
#cslider>li{width:100%; height:100%;  position:absolute;line-height:100%; top:0%; left:0%; z-index:1; text-align:center; background:#333333; display:block;}
#cslider>li.act{z-index:2;}
#cslider>li>img, .thumbnails>ul>li>div>img{width:100%;}
.thumbnails{position:absolute; top:44px; right:20px; z-index:4; width:137px; height:434px!important; overflow:hidden; padding:3px 0;}
.thumbnails>ul{position:absolute; top:0; left:0;  width:100%; margin: 0; padding: 0}
.moveme{width:1800px !important;}
.thumbnails>ul>li{width:137px; height:102px; line-height:normal;  display:inline; margin-bottom:10px; float:left; position:relative; overflow:hidden;}
.thumbnails>ul>li>div{display:inline-block; width:137px; float:left;  opacity:.3; cursor:pointer;}
.thumbnails>ul>li:hover>div{opacity:1;}
.thumbnails>ul>li.act>div{opacity:1;}
