/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */
@import url("../font/willsfont.css");
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "AllerLightRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a, a:before{-webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
	outline: none!important; color: #666;
}
h1,h2,h3{ padding: 0; margin: 0}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
	top: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	padding-top: 15px
}

.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 26px;
	color: #fff
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
	padding: 5px 10px
}
#menu-close{ padding: 5px 10px; z-index:200}
#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

#sidebar-wrapper.active .toggle{ margin: 0 10px 0 0}
/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

.skdslider{ overflow: hidden}

.left-nav{ position: fixed; left: 0; top: 0; height: 100%; width: 180px; background: #c2181b; z-index: 100;     -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;}
.left-nav .wills_logo{ text-align: center; padding: 5px 15px;}
.left-nav .wills_logo img{ max-width: 100%}
.left-nav nav{ padding: 50px 0 0 0}
.left-nav ul{ padding: 0 0 0 24px; margin: 0; list-style: none}
.left-nav ul li{margin: 0 0 5px 0; padding: 0}
.left-nav ul li a{ color: #fff; position: relative; padding: 0 0 0 20px; text-decoration: none; }
.left-nav ul li a:hover{ -webkit-transition: all 0.8s ease 0s; -moz-transition: all 0.8s ease 0s; -ms-transition: all 0.8s ease 0s; -o-transition: all 0.8s ease 0s; transition: all 0.8s ease 0s; }
.left-nav ul li a:before{ content: ''; position: absolute; left: 0; top: 5px; background-color: #fff; border: solid 2px transparent; width: 10px; height: 10px; border-radius: 50%}
.left-nav ul li a:hover:before{ background-color: transparent; border: solid 3px #fff; width: 15px; height: 15px; left: -2px; top: 3px;}
.left-nav .socialdiv{ position: absolute; left: 0; bottom: 130px; width: 100%;}
.left-nav .socialdiv ul{ margin: 0; padding: 0; list-style: none}
.left-nav .socialdiv ul li{ padding: 0; margin: 0 0 10px 0}
.left-nav .socialdiv ul li a:before{ display: none}
.left-nav .socialdiv ul li a i{ border-radius: 50%; width: 25px; height: 25px; background: #fff; color: #c8242a; text-align: center; font-size: 20px; line-height: 25px;  -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; }
.left-nav .socialdiv ul li a:hover i{ background: #000; color: #fff; transform: rotate(-360deg)}
.left-nav .itclogo{ text-align: center; position: absolute; left: 0; bottom: 0; width: 100%; background-color: #231f20}
.icon-small{ display: none}
.left-nav.smallwidth{ width: 60px;}
.left-nav.smallwidth .icon-small{ display: inline-block}
.left-nav.smallwidth .icon-big{ display: none}
.left-nav.smallwidth span{ display: none}
.left-nav.smallwidth .wills_logo{ padding: 0; margin-top: 15px; text-align: center}
.left-nav .tooltip{visibility: hidden}
.left-nav.smallwidth .tooltip{visibility: visible; left: 60px!important; z-index: 99999!important }
.tooltip-inner {max-width: none; white-space: nowrap; background-color: #c8242a; color: #fff; font-weight: lighter; font-family: 'AllerLightRegular'}
.tooltip .tooltip-arrow{ border-right-color: #c8242a!important}

.cLeft{width: 280px; height:100%; background:#1b1919; position:fixed; left:60px; top:0; padding:5% 20px; z-index: 10}
.cLeft .heading{display:inline-block; padding:10px 0; color:#fff; font-size:16px;}
.cLeft p{color:#dcd3d3; line-height:24px; padding:5% 0 0 0; font-size:13px;}
.size16{font-size:16px;}
.cLeft .dMain{position:fixed; bottom:50px; left:80px; width:243px;}
.cLeft .cdownload{background:url(../img/download-sep.html) 0 center repeat-x;}
.cLeft .cdownload span{background:#1b1919; display:inline-block; padding:0 10px; color:#dcd3d3;}
.cLeft  .button>li {list-style:none; width:121px; display:inline;}
.cLeft .button>li>a{padding:10px 28px; background:#4b4a4a; color:#dcd3d3; display:inline-block;}
.cLeft .button>li>ul {float:left; list-style:none; display:none}
.cLeft .button>li>ul{ position:absolute; left:5px; top:-118px;}
.cLeft .button>li>ul>li>a{padding:10px 28px; background:#4b4a4a; color:#dcd3d3; display:inline-block; border-bottom:#333 solid 1px; }
.cRight{ padding-left: 340px; }
.s768{ overflow-y: auto!important}

.shopnwBtn {
    position: absolute;
    width: 117px;
    right: 20px;
    top: 602px;
    border: 1px solid #FFFFFF;
    background: url(../img/download-grad.gif) 0 0 repeat-x;
    z-index: 3;
}
.shopnwBtn a {
    display: block;
    position: relative;
    font-size: 16px;
    text-align: left;
    padding: 5px 7px 5px 12px;
    color: #262626;
}
.shopnwBtn a:hover { text-decoration:none; background:#1B1919; color:#FFFFFF;}
.shopnwBtn a span {
    height: 22px;
    width: 24px;
    display: block;
    position: absolute;
    transition: all 200ms linear 0s;
    font-size: 16px;
    background: url(../img/shoponline_btn.png) 0 0 no-repeat;
    right: 9px;
    top: 6px;
}
.shopnwBtn a:hover span { text-decoration:none;  background:url(../img/shoponline_btn.png) 0 -22px no-repeat;}

p.txt-collection{ padding: 50px 0 0 0}

ul.sliderwrapper{ margin: 0; padding: 0; list-style: none}
ul.sliderwrapper li img{max-width: 100%}
ul.sliderwrapper li .content{ padding: 15px; margin: 0; background-color: #6f1a1b; color: #fff}
.padding-0{ padding: 0}
.showonmobile{ display: none}
.copyright {
    position: fixed;
    right: 0px;
    bottom: 0px;
	z-index: 99999
}
#wrapper{ overflow: hidden; background: rgba(0, 0, 0, 0) url("../img/innbg.jpg") no-repeat fixed 0 0 / cover }
.about-left{ padding: 0px 0 0 75px; color: #585858; background: url(../img/innbg.jpg) no-repeat; background-size: cover; background-attachment: fixed }
.about-left .leftinner{ padding: 40px}
.about-left p{font-size: 18px;}
.about-left h2{ font-size: 18px; margin: 10px 0 10px 0; font-weight: bold}
.about-right img{ width: 100%}
/*.scroll-content{ height: 500px}*/
.aboutrow{ margin-bottom: 20px; padding-bottom: 20px; border-bottom: solid 1px #ccc}
.aboutrow.last{ margin: 0; padding: 0; border: none}
.aboutrow img{ max-width: 100%}
.intropara{ margin-bottom: 30px; font-size: 18px; }
h1.black35{ color: #000; font-size: 40px; padding: 0; margin: 0 0 7px 0}
h1 img{ max-width: 240px; margin-bottom: 10px}
.pbprc{ padding: 0 0 15px 0}
.pbprc, .pbprc a{color:#b1b2b2;}
/* accordion css */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f107";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f105";    /* adjust as needed, taken from bootstrap.css */
}
.willsaccordion .panel-default > .panel-heading{ background-color: #333; padding: 0}
.willsaccordion .panel-title a{ color: #fff; display: block; padding: 10px 15px}
.willsaccordion .panel-body h3{ font-size: 16px; padding: 0; margin:0 0 7px 0; font-weight: bold}
.willsaccordion .panel-body p{ font-size: 16px; padding: 0; margin:0 0 7px 0}
.willsaccordion .panel-body p.last{ margin: 0}
.willsaccordion .panel-body ul{ padding: 0; margin: 0; list-style: none; font-size: 16px;} 
.willsaccordion .accordiosection{ border-bottom: solid 1px #ccc; padding-bottom: 15px; margin-bottom: 15px;}
.willsaccordion .accordiosection.last{ border: none; padding: 0; margin: 0}
/* end accordion css */

.tablewrap td, .tablewrap th{ padding: 5px; font-size: 16px;}
.tablewrap table.rowborder tr{ border-bottom: solid 1px #ccc}

.clicktobuy{ padding: 20px 30px; background: #fff url(../img/gift-highlight.gif) repeat-x; box-shadow: 10px 10px 5px #888888; -webkit-box-shadow: 10px 10px 5px #888888; -moz-box-shadow: 10px 10px 5px #888888;}
.clicktobuy p{ font-size: 20px;}
.clicktobuy .linkwrap a{ position: relative; margin-top: 12px; padding-left: 30px; display: inline-block; text-decoration: none; color: #000}
.clicktobuy .linkwrap a:before{position: absolute; left: 0; top: 5px; font-family: 'FontAwesome'; font-size: 16px; line-height: 24px; content: "\f054"; background-color: red; color: #fff; width: 22px; text-align: center; border-radius: 6px}
.clicktobuy .linkwrap a:hover:before{background-color: #fff; color: #000}
.black-color{ color: #000!important}
.white-color{ color: #fff!important}
.collection-link{ padding: 0; margin: 0}
.collection-link a{ color: #fff; text-decoration: underline}

.signature-list li{ display: none}

@media screen and (max-width: 991px){
	.tablewrap{ overflow-x: auto; }
	.about-left .leftinner{ padding: 25px 30px;}
	.about-left{ padding-left: 60px;}
	
}

/*contact us*/
.contactform .contactpara p{ padding:0 0 50px 0; font-size:16px;}
.contactform .fname .name{padding:0 0 27px; font-size:16px;}
.contactform .address{padding:27px 0; font-size:16px;}
.contactform .address label{font-weight:normal;}
.contactform .form-group label{font-weight:normal;}
.contactform .submitbtn{ padding:24px 0 0 0 ;}
.contactform .submitbtn .btn-danger{background:#b11116; border-radius:5px !important; font-size:18px; display:inline-block;}
.contactform .submitbtn .btn-danger:hover{background:#fff; color:#000; border-color:#fff;}
.contactform .submitbtn .btn-danger .fa-chevron-right{font-size: 12px; font-weight: lighter !important;}
.contactform .name .form-control{border:1px solid #bebebe; border-radius:0}

/*policy */
.returnpolicy .policygroup ul{margin:0; padding:0;}
.returnpolicy .policygroup li{ border-bottom: 1px dotted #999;font-size: 18px;list-style-type: none; padding: 30px 0;}

/*terms-use*/
.terms .termsuse ul{padding:0; margin:0}
.terms .termsuse li{list-style-type:none; font-size:18px; border-bottom:1px dotted; padding:20px 0;}
.terms .termsuse .redcolor{color:#b11116; padding:25px 0 20px;}
.terms .termsuse .bolder{font-weight:bolder;}

/* privacy policy*/

.privacy .privacypolicy ul{margin:0; padding:0;}
.privacy .privacypolicy li{list-style-type:none; font-size:18px; border-bottom:1px dotted; padding:0 0 26px; line-height:2em;}


/*Faq*/
.willsaccordionfaq .panel-default > .panel-heading{ background-color: #333; padding: 0}
.willsaccordionfaq  .panel-title a{ color: #fff; display: block; padding: 10px 15px}
.willsaccordionfaq  .panel-body h3{ font-size: 16px; padding: 0; margin:0 0 7px 0; font-weight: bold}
.willsaccordionfaq  .panel-body p{ font-size: 16px; padding: 0; margin:0 0 7px 0}
.willsaccordionfaq  .panel-body p.last{ margin: 0}
.willsaccordionfaq  .panel-body ul{ padding: 0; margin: 0; list-style: none; font-size: 16px;} 
.willsaccordionfaq  .accordiosection{ border-bottom: solid 1px #ccc; padding-bottom: 15px; margin-bottom: 15px;}
.willsaccordionfaq  .accordiosection.last{ border: none; padding: 0; margin: 0}
.willsaccordionfaq .faqbline{border-bottom:1px dotted; padding-bottom:15px; margin-bottom:15px;}
.willsaccordionfaq { position: relative; z-index: 10}
.willsaccordionfaq .accordion-inner{ width:100%; background-color:#fff; height:100%;  box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15); -moz-box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15); -webkit-box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15);}
.willsaccordionfaq .panel-body .mCustomScrollbar{max-height:280px !important;}


/*sitemap*/
.sitemap h3{ font-size: 18px; margin: 0 0 5px 0; padding: 0; color: #282828; font-weight: bold}
.sitemap ul{ margin:0; padding:0}
.sitemap li{list-style-type:none; font-size:13px; padding:0 0 5px;}
.sitemap li a{color:#666666!important;}
#rghtThumb {position:absolute;}
#rghtThumb ul{ position:absolute; list-style:none; padding: 0; margin: 0}
#rghtThumb ul li {position:absolute; display:none;}

.homeslideshow { margin: 0; padding: 0 0 0 30px; list-style: none}
.homeslideshow img{ width: 100%;}


#sync1 .item{}

.videocontainer .owl-controls{ position: relative; bottom: 72px; z-index: 100;}
.videocontainer iframe{ width: 100%; height: 550px;}
.videolist{ float: right}
.videolist .btn .caret{ margin-left: 7px;}
.videocontainer .owl-prev{ left: -20px; position: absolute}
.videocontainer .owl-next{ right: -20px; position: absolute}

.videocontainer .owl-theme .owl-controls .owl-buttons div{ background: none!important; color: #000!important; padding: 0; margin: 0}
.videocontainer .owl-theme .owl-controls .owl-buttons i{ font-size: 40px;}
#sync2 .owl-item img{ border: solid 1px #fff; max-width: 100%}
#sync2 .owl-item.synced img{ border: solid 1px #ccc}



.storedd-mob{ margin-bottom: 15px}
.storecontainer-mob .address-dv{ padding: 0 0 10px 0; margin: 0 0 10px 0; display: none}
.storecontainer-mob .address-dv h3{ padding: 0; margin: 0 0 5px 0; font-size: 18px; font-weight: bold}
.storecontainer-mob .address-dv p{ padding: 0 0 7px 0; margin: 0 0 7px 0; font-size: 14px; border-bottom: solid 1px #ccc}
.storecontainer-mob .address-dv p:last-child{ margin-bottom: 0; border: none}
.css-slideshow{ margin-bottom: 20px}
.css-slideshow img{ max-width: 100%; height: auto}
.address-dv iframe{ width: 100%}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: url(../img/ajax-loader.gif) center no-repeat #fff;
}
