body {
	height: 100%;
}
.modal-overlay {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
iframe.modal-overlay {
	background: none;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 100;
}
.modal-window {
	position: absolute;
	top: expression(document.documentElement.scrollTop + (document.documentElement.clientHeight / 2) + 'px');
}
.close-window {
    width: 16px;
	height: 17px;
	background-image: url(../images/x.gif);
	 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/x.gif,sizingMethod=crop);
	  margin-right:5px;
	  margin-top:2px;
}
