#facebox { position: absolute; top: 0; left: 0; z-index: 100; text-align: left;}
#facebox .popup{ position:relative; border:8px solid rgba(0,0,0,0);  -webkit-box-shadow:0 0 10px #999999 inset; -moz-box-shadow:0 0 10px #999999 inset; box-shadow:0 0 10px #999999 inset; background:#FFFFFF; display:block !important; opacity:1 !important;}
#facebox .content {display:table; min-width: 370px; padding: 10px;  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#facebox .content > p:first-child{margin-top:0;}
#facebox .content > p:last-child{margin-bottom:0;}
#facebox .close{position:absolute; top:-17px; right:-17px; padding:4px 8px; background:#B11116; border-radius:4px;}
#facebox .close img{ opacity:0.3;}
#facebox .close:hover img{ opacity:1.0;}
#facebox .loading {text-align: center;}
#facebox .image {text-align: center;}
#facebox img { border: 0; margin: 0;}
#facebox_overlay { position: fixed; top: 0px; left: 0px; height:100%; width:100%;}
.facebox_hide {z-index:-100;}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}