/* CSS Document */
BODY {
	MARGIN: 0px;
	padding:0px; 
	BACKGROUND-COLOR: #ffffff;
}
#centered {
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 2%;
	background-color: #ffffff;
	padding: 5px;
} 

.ar_20b{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	font-stretch:condensed;
	color:#000000;
}

.ar_14{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
	}
a.ar_14:hover{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#000000;
	text-decoration:underline;
	}
.ar_12bw{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color:#ffffff;
}
.ar_11{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	color:#000000;
}



.Grid
{
	border: solid 1px #F9F6E7;
	/*border: solid 1px #f5deb3;*/
	/*border: solid 1px #f5deb3;*/
	
}
.Grid td
{
	
	border: solid 1px #cccccc;
	margin: 3px 3px 3px 3px;
	font-family: Arial;
	padding: 0px 3px 0px 3px;
	/*
	BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 8pt;
	COLOR: black;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: verdana, tahoma, arial, sans-serif;
*/
}

.GridHeader2
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12pt;
	background-color: #808080;
	color:#ffffff;
	height: 27px;
}

a.GridHeader2:hover{	
	color:#B52433;
	text-decoration:none;
}


.gh
{
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	background-color: #808080;
	color: #ffffff;
	height: 30px;
}

a.gh:hover{	
	color:#B52433;
	text-decoration:none;
}


.GridHeader
{
	font-weight: bold;
	font-size: 9pt;
	/*background-color: #f5deb3;*/
	background-color: #D7D8D8;
	/*background-image: url(..\images\table_bg.jpg);*/
	color:#504c4a;
	height: 25px;
}



.GridHeader a
{
	text-decoration: none;
	color: black;
	padding: 0px 5px 0px 5px;
}

.GridHeader a:hover
{
	text-decoration: underline;
	background: Tan url(images/spin.gif) no-repeat 0 100%;
}

.GridItem, .GridAltItem
{
	font-size: 9pt;
	text-decoration:none;
	height:25px;
}

.GridItem
{
	background-color: #FFFFFF;
}
.GridItem a
{
	/*background-color: #F9F6E7;*/
	color: blue !important;
}
.GridAltItem
{
	/*background-color: #F9F6E7;*/
	background-color: #efefef;
}


.GridAltItem a
{
	/*background-color: #F9F6E7;*/
	color: blue !important;
}
.GridPager
{
	font-size: 10pt;
	background-color: #808080;
	font-weight:bold;
}

.Grid1
{
	/*border: solid 1px #F9F6E7;
	background-color: #F9F6E7;*/
	border: solid 1px #F9F6E7;
	background-color: #e9f2f9;
}
.Grid1 td
{
	border: solid 0px #cccccc;
	margin: 3px 3px 3px 3px;
	font-family: Arial;
	padding: 0px 3px 0px 3px;
}

.Grid2
{
	/*border: solid 1px #E7C97D;*/
	border: solid 1px #808080;
	background-color: #cccccc;
}
.Grid2 td
{
	border: solid 0px #cccccc;
	margin: 3px 3px 3px 3px;
	font-family: Arial;
	padding: 0px 3px 0px 3px;
	text-decoration:none;
}

.Grid2 a
{
	text-decoration:none;
}

.MainHeader 
{
	/*color: #FF6633*/
	/*font-weight: bold;*/
	color: #CC6600 ;
}
.text
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.copyright
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A
{
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #333333;
    TEXT-DECORATION: underline
}
.textwhite
{
    PADDING-LEFT: 20px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.textwhite2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    LETTER-SPACING: normal
}
.Normal
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none;
    height: 20px;
}
.Normal1
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.textheading
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 15px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 15px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    COLOR: #9d080c;
    TEXT-INDENT: 0px;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
.textheading2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    COLOR: #9d080c;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.textbold
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: bold 11px/30px Verdana, Arial, Helvetica, sans-serif;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    COLOR: #000000;
    TEXT-INDENT: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-REPEAT: no-repeat;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.textbold2
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    WIDTH: 100%;
    COLOR: #000000;
    TEXT-INDENT: 0px;
    PADDING-TOP: 5px;
    FONT-STYLE: normal;
    FONT-FAMILY: Gils Sans;
    TEXT-ALIGN: left;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
.Striked
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    COLOR: #9d080c;
    TEXT-INDENT: 0px;
    LINE-HEIGHT: 30px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left;
    FONT-VARIANT: normal;
    TEXT-DECORATION: line-through
}
.Listbox
{
    BORDER-RIGHT: #e7e7cf thin;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #e7e7cf thin;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    WORD-SPACING: normal;
    BORDER-LEFT: #e7e7cf thin;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #e7e7cf thin;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    LETTER-SPACING: normal;
    TEXT-ALIGN: left
}
.PageSubTitleGray
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    COLOR: gray;
    FONT-FAMILY: Arial, Verdana
}
.PageTitleRed
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}
.Bg1
{   
   BACKGROUND-COLOR: #EFEFEF  /* #e9f2f9 */ 
}
/*
.header2
{   
	FONT-FAMILY: Verdana, sans-serif, Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #B52433;
	background-color: #E7C97D       
}
*/
.header2
{   
	FONT-FAMILY: Verdana, sans-serif, Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #DA3939;
	background-color: #D7D8D8       
}
.header2a
{   
	FONT-FAMILY: Verdana, sans-serif, Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #B52433;
/*	background-color: #F9F6E7;*/
	background-color: #efefef;

}

.header2b
{
	font-family: Verdana, sans-serif, Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #B52433; /*	background-color: #F9F6E7;*/
	background-color: #EBEBEB;
}

.header2c
{
	font-family: Verdana, sans-serif, Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #B52433; /*	background-color: #F9F6E7;*/
	/*background-color: #ffffff;*/
}

a.header2c:hover{	
	color:#B52433;
	text-decoration:none;
}
	



	
	

#MainTable TABLE
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
#MainTable TD
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: verdana, tahoma, arial, sans-serif;
    BACKGROUND-COLOR: #f9f6e7
}
#MainTable INPUT
{
    BORDER-RIGHT: #cccccc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: verdana, tahoma, arial, sans-serif
}
#MainTable SELECT
{
    BORDER-RIGHT: #cccccc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: verdana, tahoma, arial, sans-serif
}
#MainTable THEAD TD
{
    BORDER-RIGHT: #0000cd 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    COLOR: white;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #0000cd 1px solid;
    FONT-FAMILY: verdana, tahoma, arial, sans-serif;
    BACKGROUND-COLOR: #f9ad35
}
#MainTable THEAD TD A
{
    COLOR: white;
    TEXT-DECORATION: none
}
#MainTable .trhead
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 3px;
    COLOR: black;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #f5deb3
}
#MainTable TR.trheadtr
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 3px;
    COLOR: black;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #f5deb3
}
#MainTable TR.trwhite
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: verdana, tahoma, arial, sans-serif;
    BACKGROUND-COLOR: #ffffff
}

.BlueHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #1dbfe1
}

.text11{
font:11px Verdana, Arial, Helvetica, sans-serif, Eurostile;
color:#000000;font-style:normal; text-decoration:none;}
a.text11:hover{
font:11px Verdana, Arial, Helvetica, sans-serif, Eurostile;
color:#000000;font-style:normal; text-decoration:underline;}

.arl_11{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
	color:#676767;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}
a.arl_11:hover{	
	color:#000000;
	text-decoration:none;
}
	
.arl_11_blue
{
	font-family: "Arial" , Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF; /*color:#7400ff;*/
	font-weight: normal;
	text-decoration: none;
}
	
a.arl_11_blue:hover{	
	/*color:#999999;*/
	color: #0066CC;
	text-decoration:none;
	}
	
	.welcome{
	color:#da3939;
	font-family: verdana;
    font-size: 12px;
	}
	
.tktbg{background:#e7e7e4; height:36px; font-size:14px;}
.tktbg>td{padding:0 20px}
.subhding2{background:#f6f6f6; font-size:13px; line-height:25px; padding-left:20px;}


table {
  display: table;
  border-collapse: separate;
  border-spacing: 0px !important;
  border-color: gray;
}
        .bdr{ border:0px;}
        .table_bdr{border:none; margin:0; padding:0;}
        .table_bdr td{border:1px #666 solid; border-bottom:none; padding:5px !important; margin:0;}
        .table_bdr tr{padding:0 !important; margin:0 !important;}
        .bdrryt{border-right:none !important;}
        .bdrleft{border-left:none;}




        
.GridReport
{
	border: solid 1px #F9F6E7;
	/*border: solid 1px #f5deb3;*/
	/*border: solid 1px #f5deb3;*/
	
}
.GridReport td
{
	
	margin: 3px 3px 3px 3px;
	font-family: Arial;
	padding: 0px 3px 0px 3px;
	/*
	BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 8pt;
	COLOR: black;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: verdana, tahoma, arial, sans-serif;
*/
}
