BODY {
	SCROLLBAR-FACE-COLOR: #dfdfdf; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #f1f1f1; SCROLLBAR-SHADOW-COLOR: #f1f1f1; SCROLLBAR-3DLIGHT-COLOR: #f1f1f1; SCROLLBAR-ARROW-COLOR: #000080; SCROLLBAR-TRACK-COLOR: #f1f1f1; SCROLLBAR-DARKSHADOW-COLOR: #f1f1f1; BACKGROUND-COLOR: #ffffff
}
/*
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}

A:active {
	FONT-WEIGHT: bold;FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
*/
A:link {
	 COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	 COLOR: #000000; TEXT-DECORATION: none
}

A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	 COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
#nav {
	WIDTH: 170px; HEIGHT: 100%
}
#nav TABLE {
	BACKGROUND-COLOR: #e9f2f9
}
#nav .border {
	BACKGROUND-COLOR:#807F7F  /* #b6d3ea */
}
#nav A {
	PADDING-LEFT: 13px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #454545; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
#nav A:visited {
	COLOR: #000000
}
#nav A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
#nav A:active {
	 TEXT-DECORATION: underline
}
.menu {
	POSITION: relative
}
.MenuBgDark {
/*BACKGROUND-COLOR:#807F7F   
		BACKGROUND-COLOR: #f7f7f7 	*/
	background:url(../images/bg_slider.gif) repeat;
}
.menuItemBg
{
	/* background-color: #FFFFF0; */
	background-color: #efefef; /*background-color: #D7D8D8; f9f2f9  E0F0DB*/
	font-weight: bold;
}


.buttonlabel {
	VISIBILITY: visible; POSITION: relative
}
.level1label {
	HEIGHT: 26px
}
.menuNode {
	HEIGHT: 26px
}
.menuItem {
	HEIGHT: 26px;

}
.combo {
	BORDER-RIGHT: #000080 1px solid; BORDER-TOP: #000080 1px solid; BORDER-LEFT: #000080 1px solid; COLOR: #000080; BORDER-BOTTOM: #000080 1px solid; BACKGROUND-COLOR: #eaeaea
}
.comboStyle {
	FONT-SIZE: 9px; COLOR: #000080; BACKGROUND-COLOR: #f1f1f1
}

.GridAltItem
{
	/*background-color: #F9F6E7;*/
	background-color: #efefef;
}

.bdcom{ background:url(../images/bcom_bg.gif) repeat-x;  height:40px;}