body {
	height: 100%;
}
.modal-overlay {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
iframe.modal-overlay {
	background: none;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 100;
}
.modal-window {
	position: absolute;
	top: expression(document.documentElement.scrollTop + (document.documentElement.clientHeight / 2) + 'px');
}
.close-window {
	background-image: url();
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/closelabel.gif,sizingMethod=crop);
}
