<%@ page language="C#" autoeventwireup="true" inherits="AdminPanel_main, App_Web_unlrms9o" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>
<head>
    <title>Wills Lifestyle</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset rows="99,*" frameborder="0" border="0" framespacing="0" >
    <frame name="top" cols="60,*" scrolling="NO" noresize src="Header.aspx" target="contents">
    <frameset cols="180,*" frameborder="no" border="0" framespacing="0">
        <frame name="left" src="LeftLinks.aspx" target="main" noresize>
        <frame name="right" src="right.aspx" noresize>
        <!--<frame name="right"  src="DashBoard.aspx"   noresize>-->
    </frameset>
    <noframes>
        <body bgcolor="#FFFFFF" text="#000000" topmargin="0" leftmargin="0">
        </body>
    </noframes>
</frameset>

</html>
