<%@ page language="C#" autoeventwireup="true" inherits="AdminPanel_right, App_Web_unlrms9o" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title></title>
<script type="text/javascript">
    function PageRefresh() {
        window.parent.location.href = "main.aspx";
    }
</script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000" topmargin=0 leftmargin=0 style="margin-right:0px"></body>
<table width="98%" border="0" cellpadding="5" cellspacing="0" bordercolor="#E2EBEF">
  <tr>
    <td align="center"><b>Welcome to Wills Lifestyle Control Panel</b><br />
 
    </td>
  </tr>
 
</table>
<br>
<br>
</html>
